<div class="container-fluid">
<div class="container">
    <div class="row">

        <div class="col-md-4 col-xs-2">
       <h1><a routerLink="home" style="color: inherit; text-decoration: none;">WI</a></h1>
    </div>

        <div class="col-md-8 col-xs-10">
            <ul class="nav d-flex justify-content-end align-items-center">
                
                <li class="nav-item">
                    <a routerLink="home" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a routerLink="" class="nav-link">About</a>
                </li>

                <li class="nav-item">
                    <a routerLink="" class="nav-link">Shop</a>
                </li>

                <li class="nav-item">
                    <a routerLink="" class="nav-link">Help</a>
                </li>

                <li class="nav-item"><button routerLink="cart" type="button" class="btn btn-primary">
                    Your Cart<div class="badge bg-danger" style="margin-left: 4px;">{{ totalItem }}</div>
                    </button>
                </li>
                                
            </ul>
        </div>
    </div>
</div>

